@media(max-width:500px){
    .navbar{
        display: flex;
        flex-direction: column;
    }
    .srch{
        display: flex;
        justify-content: center;

    }
    #sb{
        width: 250px;
    }
    #srh{
        display: flex;
        justify-content: center;
        width: 100%;
    }
    /* #t{
        display: flex;
        justify-content: center;
        padding-left: 75%;

       

    }
    #d{
        display: flex;
        justify-content: center;
      
       

        padding-left: 45%;
        
        

    }
    #y{
        display: flex;
        justify-content: center;
      
         padding-left: 10%; }
    

    h2{
        display: flex;
        margin-left: 3em;

    } */

}


span{
  
   height: 2.2rem;
}
.input-group.md-form.form-sm.form-1 input{
    border: 1px solid #a53131;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
  }

.container{
    background: rgb(52, 54, 196);
    color: azure;
    /* padding-bottom: 1rem; */
    padding:2rem 1rem ;
    padding-right: 2rem;
    padding-left: 2rem;
}
body{
    background-color:#2C6FD3;
}



/* .he{
    display: flex;
    justify-content: space-around;
    width: 50%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    /* margin-top: 20px; */
    /* margin-left: 25%; */
    /* color: rgb(15, 7, 7); */
    /* background-color: rgb(26, 165, 153); */
   